<% devise_error_messages! %>

<h2 class="subtitulos">Editar cuenta</h2>

<div class="container-fluid">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Todavía se está esperando que se confirme el email: <%= resource.unconfirmed_email %></div>
    <% end %>

  <div class="row">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-6 col-md-6"><%= f.label :country %></div>
  </div>

  <div class="row">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-6 col-md-6"><%= country_select(:user, :country, {selected: resource.country}, { class: 'form-control', required: "required"}) %></div>
  </div>

  <div class="row">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-6 col-md-6"><%= f.label :province %></div>
  </div>

  <div class="row">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-6 col-md-6"><%= f.text_field :province , :required => "required", class:"form-control" %></div>
  </div>

  <div class="row">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-6 col-md-6"><%= f.label :city %></div>
  </div>

  <div class="row">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-6 col-md-6"><%= f.text_field :city , :required => "required",  class:"form-control" %></div>
  </div>

  <div class="row">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-6 col-md-6"><%= f.label :domicile %></div>
  </div>

  <div class="row">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-6 col-md-6"><%= f.text_field :domicile , :required => "required",  class:"form-control" %></div>
  </div>

  <div class="row" style="padding-top:1em">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-6 col-md-6">
  

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <span class="destacado">Editar datos de la tarjeta de crédito</span>
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse row" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-1 col-md-1"></div>
                <div class="col-xs-5 col-md-5"><%= f.label "Nombre del titular" %></div>
                </div>
                <div class="row">
                  <div class="col-xs-1 col-md-1"></div>
                  <div class="col-xs-5 col-md-5"><%= f.text_field :card_owner_first_name, autofocus: true , :required => "required", class:"form-control" %></div>
                </div>
                <div class="row">
                  <div class="col-xs-1 col-md-1"></div>
                  <div class="col-xs-5 col-md-5"><%= f.label "Apellido del titular" %></div>
                </div>
                <div class="row">
                  <div class="col-xs-1 col-md-1"></div>
                  <div class="col-xs-5 col-md-5"><%= f.text_field :card_owner_last_name , :required => "required", class:"form-control" %></div>
                </div>

                <div class="row">
                  <div class="col-xs-1 col-md-1"></div>
                  <div class="col-xs-5 col-md-5"><%= f.label "Número de la tarjeta" %></div>
                </div>

                <div class="row">
                  <div class="col-xs-1 col-md-1"></div>
                  <div class="col-xs-5 col-md-5">
                    <div class="row">
                      <div class="col-xs-1 col-md-3" onkeypress="return isNumberKey(event)"><%= f.text_field :card_1 , class:"form-control", maxlength:"4" %></div>
                      <div class="col-xs-1 col-md-3" onkeypress="return isNumberKey(event)"><%= f.text_field :card_2 , class:"form-control", maxlength:"4" %></div>
                      <div class="col-xs-1 col-md-3" onkeypress="return isNumberKey(event)"><%= f.text_field :card_3 , class:"form-control", maxlength:"4" %></div>
                      <div class="col-xs-1 col-md-3" onkeypress="return isNumberKey(event)"><%= f.text_field :card_4 , class:"form-control", maxlength:"4" %></div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-1 col-md-1"></div>
                  <div class="col-xs-5 col-md-5"><%= f.label "Número de seguridad" %></div>
                </div>

                <div class="row">
                  <div class="col-xs-1 col-md-1"></div>
                  <div class="col-xs-5 col-md-5">
                    <div class="row">
                      <div class="col-xs-3 col-md-3" onkeypress="return isNumberKey(event)"><%= f.text_field :security_code , :required => "required",  class:"form-control", maxlength:"3" %></div>
                    </div>  
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-1 col-md-1"></div>
                  <div class="col-xs-5 col-md-5"><%= f.label "Fecha de vencimiento" %></div>
                </div>

                <div class="row">
                  <div class="col-xs-1 col-md-1"></div>
                  <div class="col-xs-5 col-md-5">
                    <div class="row">
                      <div class="col-xs-3 col-md-3"><%= f.text_field :expires_on , :required => "required",  class:"form-control", maxlength:"8" %></div>
                    </div>  
                  </div>
                </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-6 col-md-6"><%= f.label :password %> <span class="italica">(dejar en blanco si no deseas cambiarla)</span></div>
  </div>

  <div class="row">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-6 col-md-6"><%= f.password_field :password, autocomplete: "off" , class:"form-control" %>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-6 col-md-6"><%= f.label :password_confirmation %> <span class="italica">(dejar en blanco si no deseas cambiarla)</span></div>
  </div>

  <div class="row">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-6 col-md-6"><%= f.password_field :password_confirmation, autocomplete: "off" , class:"form-control" %></div>
  </div>

  <div class="row" style="padding-top: 2em;">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-6 col-md-6"><%= f.label :current_password %> <span class="italica">(necesitamos tu contraseña actual para confirmar los cambios)</span></div>
  </div>

  <div class="row">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-6 col-md-6"><%= f.password_field :current_password, autocomplete: "off" , :required => "required", class:"form-control" %></div>
  </div>

  <div class="row" style="padding-top:1em;padding-bottom:1em">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-6 col-md-6"><%= f.submit "Actualizar" , class:"btn btn-primary" %></div>
  </div>

  <% end %>

  <div class="row">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-6 col-md-6"><span class="error">Cerrar cuenta</span></div>
  </div>

  <div class="row" style="padding-top:1em;padding-bottom:1em">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-6 col-md-6"><span>¿Seguro? :(</span></div>
  </div>

  <div class="row" style="padding-top:1em;padding-bottom:1em">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-6 col-md-6"> <%= button_to "Cerrar cuenta", registration_path(resource_name), data: {confirm: "¿Confirma el cierre de su cuenta?" }, method: :delete , class:"btn btn-danger" %></div>
  </div>

  

</div>