<h2 class="subtitulos">Registrarse en Bestnid</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="container">
  	<div>
	<%= f.label "Nombre" %> <%= f.text_field :first_name, autofocus: true , :required => "required", class:"form-control" %>
	</div>
	<div>
	<%= f.label "Apellido" %> <%= f.text_field :last_name , :required => "required", class:"form-control" %>
	</div>

  	<div><%= f.label :email %><br />
	  <%= f.email_field :email, :required => "required",  class:"form-control" %></div>

	<div><%= f.label "Contraseña" %> <% if @validatable %><i>(<%= @minimum_password_length %> caracteres como mínimo)</i><% end %><br />
	    <%= f.password_field :password, autocomplete: "off" , :required => "required", class:"form-control" %></div>

	<div><%= f.label "Confirmación de contraseña" %><br />
	    <%= f.password_field :password_confirmation, autocomplete: "off" , :required => "required", class:"form-control"  %></div>

  	<div>
	<%= f.label "País" %> <%= f.text_field :country , :required => "required", class:"form-control" %>
	</div>

  	<div>
	<%= f.label "Provincia" %> <%= f.text_field :province , :required => "required", class:"form-control" %>
	</div>

  	<div>
	<%= f.label "Ciudad" %> <%= f.text_field :city , :required => "required",  class:"form-control" %>
	</div>

	<div>
	<%= f.label "Domicilio" %> <%= f.text_field :domicile , :required => "required",  class:"form-control" %>
	</div>

	<div>
	<%= f.label "Tarjeta de crédito" %>
		<div class="row">
			<div class="col-xs-2 col-md-2" onkeypress="return isNumberKey(event)"><%= f.text_field :card_1 , :required => "required",  class:"form-control", maxlength:"4" %></div>
			<div class="col-xs-2 col-md-2" onkeypress="return isNumberKey(event)"><%= f.text_field :card_2 , :required => "required",  class:"form-control", maxlength:"4" %></div>
			<div class="col-xs-2 col-md-2" onkeypress="return isNumberKey(event)"><%= f.text_field :card_3 , :required => "required",  class:"form-control", maxlength:"4" %></div>
			<div class="col-xs-2 col-md-2" onkeypress="return isNumberKey(event)"><%= f.text_field :card_4 , :required => "required",  class:"form-control", maxlength:"4" %></div>
		</div>
	</div>

	  <br>
	  <div><%= f.submit "Registrarse" , class:"btn btn-primary"%></div>
<% end %>
<br>
<%= render "devise/shared/links"%>
</div>
