<% devise_error_messages! %>

<h2 class="subtitulos">Registrarse en Bestnid</h2>
  <div class="container">

  	<div class="row" style="padding-top: 1em">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6">
			<p>Por favor, complete los siguientes campos para poder así crearse una cuenta personal en Bestnid.</p>
			<p>Los campos marcados con <span class="campo-obligatorio">*</span> son obligatorios.</p>
		</div>
	</div>

  	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	<div class="row" style="padding-top:1em">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.label :first_name %><span class="campo-obligatorio">*</span></div>
	</div>
	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.text_field :first_name, autofocus: true , :required => "required", class:"form-control" %></div>
	</div>
	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.label :last_name %><span class="campo-obligatorio">*</span></div>
	</div>
	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.text_field :last_name , :required => "required", class:"form-control" %></div>
	</div>
	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.label :email %><span class="campo-obligatorio">*</span></div>
	</div>

	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.email_field :email, :required => "required",  class:"form-control" %></div>
	</div>

	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.label :password %><span class="campo-obligatorio">*</span>
			<% if @validatable %>
				<span class="italica">(<%= @minimum_password_length %> caracteres como mínimo)</span>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6">
			
	    	<%= f.password_field :password, autocomplete: "off" , :required => "required", class:"form-control" %>
		</div>
	</div>


	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.label :password_confirmation %><span class="campo-obligatorio">*</span></div>
	</div>

	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6">
	    	<%= f.password_field :password_confirmation, autocomplete: "off" , :required => "required", class:"form-control"  %>
		</div>
	</div>
	 
	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.label :country %><span class="campo-obligatorio">*</span></div>
	</div>

	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= country_select(:user, :country, {selected: "AR"}, { class: 'form-control', required: "required"}) %></div>
	</div>

	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.label :province %><span class="campo-obligatorio">*</span></div>
	</div>

	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.text_field :province , :required => "required", class:"form-control" %></div>
	</div>

	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.label :city %><span class="campo-obligatorio">*</span></div>
	</div>

	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.text_field :city , :required => "required",  class:"form-control" %></div>
	</div>

	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.label :domicile %><span class="campo-obligatorio">*</span></div>
	</div>

	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.text_field :domicile , :required => "required",  class:"form-control" %></div>
	</div>
<!--
	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.label "Tarjeta de crédito" %><span class="campo-obligatorio">*</span></div>
	</div>
-->

	<div class="row" style="padding-top:1.5em;padding-bottom:0.5em">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><center><%= f.label "Información sobre tarjeta de crédito"%></center></div>
	</div>

	<div class="row" style="padding-top:1em">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.label "Nombre del titular" %><span class="campo-obligatorio">*</span></div>
	</div>
	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.text_field :card_owner_first_name, autofocus: true , :required => "required", class:"form-control" %></div>
	</div>
	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.label "Apellido del titular" %><span class="campo-obligatorio">*</span></div>
	</div>
	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.text_field :card_owner_last_name , :required => "required", class:"form-control" %></div>
	</div>

	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.label "Número de la tarjeta" %><span class="campo-obligatorio">*</span></div>
	</div>

	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6">
			<div class="row">
				<div class="col-xs-3 col-md-3" onkeypress="return isNumberKey(event)"><%= f.text_field :card_1 , :required => "required",  class:"form-control", maxlength:"4" %></div>
				<div class="col-xs-3 col-md-3" onkeypress="return isNumberKey(event)"><%= f.text_field :card_2 , :required => "required",  class:"form-control", maxlength:"4" %></div>
				<div class="col-xs-3 col-md-3" onkeypress="return isNumberKey(event)"><%= f.text_field :card_3 , :required => "required",  class:"form-control", maxlength:"4" %></div>
				<div class="col-xs-3 col-md-3" onkeypress="return isNumberKey(event)"><%= f.text_field :card_4 , :required => "required",  class:"form-control", maxlength:"4" %></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.label "Número de seguridad" %><span class="campo-obligatorio">*</span></div>
	</div>

	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6">
			<div class="row">
				<div class="col-xs-3 col-md-3" onkeypress="return isNumberKey(event)"><%= f.text_field :security_code , :required => "required",  class:"form-control", maxlength:"3" %></div>
			</div>	
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.label "Fecha de vencimiento" %><span class="campo-obligatorio">*</span></div>
	</div>

	<div class="row">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6">
			<div class="row">
				<div class="col-xs-12 col-md-12"><%= f.date_select :expires_on, {:use_month_names => translated_month_names(false), :discard_day => true, :start_year => Date.today.year, :end_year => Date.today.year + 20}, {maxlength: "8", class: "form-control date-select", :required => "required"} %></div>
			</div>	
		</div>
	</div>

	<div class="row" style="padding-top:1em">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= f.submit "Registrarse" , class:"btn btn-primary"%></div>
	</div>

	<% end %>

	<div class="row" style="padding-top:1em;padding-bottom:2em">
		<div class="col-xs-3 col-md-3"></div>
		<div class="col-xs-6 col-md-6"><%= render "devise/shared/links" %></div>
	</div>
</div>