<% if @bids.count > 0 %>
<h1 class="subtitulos">Ofertas a productos activos</h1>
<div class="container-fluid">
	
	<div class="row">
		<div class="col-xs-4 col-md-4"></div>
		<div class="col-xs-4 col-md-4">
			<div class = "panel panel-personal">
				<div class = "panel-heading">
					<center><h3 class = "panel-title negrita"><span style="vertical-align: super;color:red">¿?</span> Ayuda contextual</h3></center>
				</div>
				<div class = "panel-body">
					<center><h5>Presione en la foto de cada producto si desea ver más información y/o editar ofertas.</h4></center>
				</div>
			</div>
		</div>
	</div>

	<% @bids.each do |b| %>
		<% p = Product.where(id: b.product_id).first %>
		<% if Time.now < (p.ends_at) %>
			<div class="col-xs-12 col-md-6">
				<div class = "panel panel-personal">
					<div class = "panel-heading">
						<h3 class = "panel-title"><%= link_to p.title, p %></h3>
					</div>
					<div class = "panel-body panel-producto">
						<%= link_to image_tag_with_alt(p.imageURL, alt: p.title, class: "img-thumbnail imagenes", width: 150), p, class: "estructura", style: "width: 30%" %>
						<div class="estructura" style="width: 69%">
							<p><span class="negrita">Descripcion: </span>
								<%= p.description.truncate(100) %>
								<% if p.description.length > 100 %>
									<span> <%= link_to "(ver más...)", p %></span>
								<% end %>
							</p>
							<p><span class="negrita">Necesidad: </span>
							<span><%=b.need.truncate(200)%><%= link_to "(ver más...)", p %></span></p>
							<p><span class="negrita">Oferta: </span>
							<span>$ <%=b.value%></span></p>
						</div>
					</div>
					<div class = "panel-footer text-ellipsis">
						<% if Time.now > (p.ends_at) %>
							<span class="error">¡Subasta finalizada!</span>
						<% else %>
							<span class="negrita">Finalización:</span>
							<%= timeleft(p.ends_at) %>
						<% end %>
					</div>
				</div>
			</div>
			<% end %>
	<% end %>
</div>

<% else %>
	<h1 class="subtitulos">No has hecho ofertas.</h1>
<% end %>