<h1 class="subtitulos">Últimas subastas</h1>
<div class="container-fluid">
	<% if @products.count == 0 %>
		<h4 class = "italica" style="padding-bottom: 20em"> No se encontraron productos. </h4>
	<% end %>
	<% @products.each do |p| %>
		<div class="col-xs-6 col-md-4">
			<div class = "panel panel-personal">
				<div class = "panel-heading">
					<h3 class = "panel-title"><%= link_to p.title, p %></h3>
				</div>
				<div class = "panel-body panel-producto">
					<div class="estructura"><img src = <%= p.imageURL %> alt = <%= p.title %> class="img-thumbnail imagenes" width = "150" ></div>
					<div class="estructura">
						<p><%= p.description.truncate(100) %>
							<% if p.description.length > 100 %>
								<span> <%= link_to "(ver más...)", p %></span>
							<% end %>
						</p>
					</div>
				</div>
				<div class = "panel-footer text-ellipsis">
					<% if Time.now > (p.created_at + p.totalDays.days) %>
						<span class="error">¡Subasta finalizada!</span>
					<% else %>
						<span class="negrita">Finalización:</span>
						<%= timeleft(p.created_at + p.totalDays.days) %>
					<% end %>
				</div>
			</div>			
		</div>
	<% end %>