<h1 class = "subtitulos">Subastas</h1>
<div class="container-fluid">
	<% @products.each do |p| %>
		<div class="col-xs-6 col-md-4">
			<div class = "panel panel-personal">
				<div class = "panel-heading">
					<h3 class = "panel-title"><%= p.title %></h3>
				</div>
				<div class = "panel-body panel-producto">
					<div class="estructura"><img src = <%= p.imageURL %> alt = <%= p.title %> class="img-thumbnail imagenes" width = "150" ></div>
					<div class="estructura">
						<p><%= p.description[0, 99] %>
							<% if p.description.length > 100 %>
								<span> (ver más...)</span>
							<%end%>
						</p>
					</div>
				</div>
				<div class = "panel-footer">
					<span>Fecha de finalización: <%= (p.created_at + p.totalDays.days).to_formatted_s(:long) %></span>
				</div>
			</div>			
		</div>
	<% end %>
</div>


