<div class="container">
	<h1 class="subtitulos">Subasta finalizada</h1>
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-8">
		<p><b>¡Felicidades!</b> Has vendido tu producto</p>
		<ul class="list-info">
			<li><b>Título: </b><%= @product.title %></li>
			<li><b>Descripción: </b><%= @product.description.truncate(100) %></li>
			<li><b>Fecha de publicación: </b><%= localize @product.created_at, format: :long %></li>
			<li><%= link_to "Ir al producto", @product %></li>
		</ul>

		<p> Ha escogido la necesidad <b>"<%= @product.chosen_bid.need %>"</b> valuada en <b><%= @product.chosen_bid.value %> pesos argentinos</b>.

		<p>A continuación le facilitamos los datos del comprador para que pueda contactarse con él para acordar los detalles de la entrega y otras consultas adicionales.</p>
		<ul class="list-info"><% buyer = @product.chosen_bid.user %>
			<li><b>Nombre: </b><%= buyer.first_name %></li>
			<li><b>Apellido: </b><%= buyer.last_name %></li>
			<li><b>Email: </b><%= buyer.email %></li>
			<li><b>País: </b><%= buyer.country_name %></li>
			<li><b>Provincia: </b><%= buyer.province %></li>
			<li><b>Ciudad: </b><%= buyer.city %></li>
			<li><b>Domicilio: </b><%= buyer.domicile %></li>
		</ul>

		<p>De todas formas, se le ha enviado a usted un email con todos los datos necesarios para ponerse en contacto con el comprador, y de igual manera se le ha enviado también un email a este último.</p>
		</div>
		<div class="col-xs-2"></div>
	</div>
</div>
