<h1 class = "subtitulos">Publicar subasta</h1>
	<div class = "panel panel-personal">
		<div class = "panel-heading">
			<h3 class = "panel-title">Nueva subasta - <%=current_user.first_name%> <%=current_user.last_name%></h3>
		</div>
		<div class = "panel-body">
			<%= form_tag :action => 'form' do %>
				<div class="form-group"><%= text_field_tag "title", "", :placeholder => "Título", :required => "required", class:"form-control", maxlength:"255" %>
				</div>
		     	<div class="form-group"><%= text_field_tag "description", "", rows:"15", cols:"100%", :placeholder => "Descripción", :required => "required", class:"form-control", maxlength:"255" %>
		     	</div>
		     	<div class="form-group"><%= text_field_tag "imageURL", "", rows:"15", cols:"100%", :placeholder => "URL de imagen", class:"form-control", maxlength:"255" %>
		     	</div>

		     	<div class="form-group number-area"><%= number_field_tag "totalDays", 15, in: 15...31, :required => "required", class:"form-control", maxlength:"2" %>
		     	</div>
		     	<div class="form-group"><%= submit_tag "Publicar", class:"btn btn-primary" %></div>
	  		<% end %>
		</div>
		<div class = "panel-footer text-ellipsis">

		</div>
	</div>