<div class="container">
	<h1 class = "subtitulos"><%=@product.title%></h1>
	<div class = "panel panel-personal">
		<div class = "panel-heading"> 
			<h3 class = "panel-title">Detalles del producto</h3>
		</div>
		<div class = "panel-body">
			<div><img src = <%= @product.imageURL %> alt = <%= @product.title %> class="img-thumbnail centrar imagenes-completas" ></div>
			<div class="espaciar">
				<%= simple_format(@product.description, {}, sanitize: true) %>
			</div>
		</div>
		
		<div class = "panel-footer">
			<table class="table">
				<tr>
					<td>
						<span class="negrita">Categoría:</span>	<%= @product.category.name %>
					</td>
				</tr>	
				<tr>
					<td>
						<span class="negrita">Fecha de publicación:</span>	<%= localize @product.created_at, format: :long %>
					</td>
				</tr>	
				<tr>
					<td>
						<% if Time.now > @product.ends_at %>
							<span class="error"> ¡Subasta finalizada! </span>
						<% else %>
							<span class="negrita">Fecha de finalización:</span>
							<%= localize @product.ends_at, format: :long %>
						<% end %>
					</td>
				</tr>
				
				<% if user_signed_in? %>
					<% if @owner.email == current_user.email %>
						<tr>
							<td style="text-align:right;" class="text-ellipsis">
								<%= link_to "Eliminar subasta", @product, data: { confirm: "¿Estás seguro?" }, :method => :delete , class:"btn btn-danger" %>
							</td>
						</tr>
					<% else %>
						<tr>
							<td style="text-align:right;" class="text-ellipsis">
								<% if (Time.now < @product.ends_at) %>
									<% if (@temp == true) %>
										<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Modificar oferta</button>
										<!-- Modal -->
										<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										  <div class="modal-dialog">
										    <div class="modal-content">
										      <div class="modal-header">
										        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
										        <center><h4 class="modal-title" id="myModalLabel">Modificar oferta</h4></center>
										      </div>
										      <div class="modal-body">
										      	<%= form_tag edit_bid_path(product_id_param: @product.id) do %>
													<div class="form-group" style="width: 90%"><%= text_field_tag "need", "", :placeholder => current_user.bids.where(product_id: @product.id).last.need, :required => "required", class:"form-control", maxlength:"255" %>
													</div>
													<div class="form-group" style="width: 50%"><%= number_field_tag "value", "", :placeholder => current_user.bids.where(product_id: @product.id).last.value, :required => "required", class:"form-control", maxlength:"7" %>
													</div>
													<div class="form-group"><button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button><%= submit_tag "Modificar", class:"btn btn-success" %>
													</div>
										      	<% end %>
										      </div>
										    </div>
										  </div>
										</div>
										<!-- End Modal -->
									<% else %>
										<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Ofertar</button>
										<!-- Modal -->
										<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										  <div class="modal-dialog">
										    <div class="modal-content">
										      <div class="modal-header">
										        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
										        <center><h4 class="modal-title" id="myModalLabel">Nueva oferta</h4></center>
										      </div>
										      <div class="modal-body">
										      	<h4 style="text-align: left">Oferta</h4>
										      	<%= form_tag new_bid_path(product_id_param: @product.id, user_id_param: current_user.id) do %>
													
													<div class="form-group" style="width: 90%"><%= text_field_tag "need", "", :placeholder => "Necesidad", :required => "required", class:"form-control", maxlength:"255" %>
													</div>

													<div class="form-group" style="width: 50%"><%= number_field_tag "value", "", :placeholder => "Oferta ($)", :required => "required", class:"form-control", maxlength:"7" %>
													</div>
													
													<div class="form-group"><button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button><%= submit_tag "Publicar", class:"btn btn-success" %></div>

										      	<% end %>

										      	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
												  <div class="panel panel-default">
												    <div class="panel-heading" role="tab" id="headingOne">
												      <h4 class="panel-title">
												        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
												          <span class="btn btn-primary">Actualizar datos de la tarjeta de crédito</span>
												        </a>
												      </h4>
												    </div>
												    <div id="collapseOne" class="panel-collapse collapse" style="text-align: left" role="tabpanel" aria-labelledby="headingOne">
												      <div class="panel-body">
												       	<%= form_for(current_user, as: :user) do |f| %>

											      		<span class="negrita">Número de la tarjeta:</span>
											      		<div class="row" style="width: 90%; padding-bottom: 0.5em; padding-top: 0.5em" >
														    <div class="col-xs-3 col-md-3" onkeypress="return isNumberKey(event)"><%= f.text_field :card_1 , class:"form-control", maxlength:"4" %></div>
														    <div class="col-xs-3 col-md-3" onkeypress="return isNumberKey(event)"><%= f.text_field :card_2 , class:"form-control", maxlength:"4" %></div>
														    <div class="col-xs-3 col-md-3" onkeypress="return isNumberKey(event)"><%= f.text_field :card_3 , class:"form-control", maxlength:"4" %></div>
														    <div class="col-xs-3 col-md-3" onkeypress="return isNumberKey(event)"><%= f.text_field :card_4 , class:"form-control", maxlength:"4" %></div>
														</div>

														<span class="negrita">Nombre del titular:</span>
														<div class="row" style="width: 90%; padding-top:0.5em;padding-bottom:0.5em">
	    													<div class="col-xs-6 col-md-6"><%= f.text_field :card_owner_first_name, autofocus: true , :required => "required", class:"form-control" %></div>
	 													</div>

	 													<span class="negrita">Apellido del titular:</span>
														<div class="row" style="width: 90%;padding-top:0.5em;padding-bottom:0.5em">
	    													<div class="col-xs-6 col-md-6"><%= f.text_field :card_owner_last_name, autofocus: true , :required => "required", class:"form-control" %></div>
	 													</div>

	 													<span class="negrita">Número de seguridad:</span>
														<div class="row" style="width: 90%;padding-top:0.5em;padding-bottom:0.5em">
	    													<div class="col-xs-6 col-md-6" onkeypress="return isNumberKey(event)"><%= f.text_field :security_code, autofocus: true , :required => "required", class:"form-control", maxlength:"3" %></div>
	 													</div>

	 													<span class="negrita">Fecha de vencimiento:</span>
														<div class="row" style="width: 90%; padding-top:0.5em;padding-bottom:0.5em">
	    													<div class="col-xs-6 col-md-6"><%= f.date_select :expires_on, autofocus: true , :required => "required", :discard_day => true, :end_year => Date.today.year + 20, class:"form-control" %></div>
	 													</div>

														<%= hidden_field_tag :product_id, @product.id %>
														<%= f.submit "Actualizar" , class:"btn btn-primary" %>

														<% end %>
												      </div>
												    </div>
												  </div>
										      	</div>

										      </div>
										    </div>
										  </div>
										</div>
										<!-- End Modal -->
									<% end %>
								<% end %>
							</td>
						</tr>
					<% end %>
				<% end %>
			</table>
		</div>
	</div>
	
	<% if user_signed_in? and @owner.email == current_user.email %>
		<div class = "panel panel-personal">
			<div class = "panel-heading">
				<h3 class = "panel-title">Ofertas</h3>
			</div>
			<ul class="list-group">
				<% if @product.bids.count == 0 %>
					<li class="list-group-item negrita">Este producto no tiene ofertas.</li>
				<% else %>
					<% @product.bids.each do |bid| %>
						<li class="list-group-item">
							<blockquote><%= bid.need %></blockquote>
						</li>
					<% end %>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="panel panel-personal">
		<div class="panel-heading">
			<h3 class="panel-title">Preguntas y respuestas</h3>
		</div>
		<ul class="list-group list-special">
			<% if @product.questions.length == 0 %>
				<li class="list-group-item negrita">Aún nadie ha hecho una pregunta por este producto.</li>
			<% else %>	
				<% @product.questions.each do |question| %>
					<li class="list-group-item">
						<div><%= question.body %></div>
							<div class="small text-right italica negrita">Pregunta realizada hace <%= time_ago_in_words(question.created_at)%>
						</div>
						<div class="product-answer">
							<% if question.answer == nil %>
								<span class="negrita">Esta pregunta aún no fue respondida.</span>
							<% else %>
								<div><span class="negrita">Respuesta:</span> <%= question.answer.body %></div>
									<div class="small text-right italica negrita">Respuesta de hace <%= time_ago_in_words(question.created_at)%>
								</div>
							<% end %>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>
