<h1 class = "subtitulos"><%=@product.title%></h1>
<div class = "panel panel-personal">
	<div class = "panel-heading">
		<h3 class = "panel-title">Detalles del producto</h3>
	</div>
	<div class = "panel-body">
		<div><img src = <%= @product.imageURL %> alt = <%= @product.title %> class="img-thumbnail centrar imagenes-completas" ></div>
		<div class="espaciar">
			<p><%= @product.description %></p>
		</div>
	</div>
	<div class = "panel-footer">
		<% if Time.now > (@product.created_at + @product.totalDays.days) %>
			<span class="error">¡Subasta finalizada!</span>
		<% else %>
			<span>
				<span class="negrita">Fecha de finalización:</span> <%=  (@product.created_at + @product.totalDays.days).to_formatted_s(:long) %>
			</span>
		<% end %>
		<span>
			<% if user_signed_in?%>
				<% if @owner.email == current_user.email %>
					<%= link_to "Eliminar subasta", @product, data: { confirm: "¿Estás seguro?" }, :method => :delete , class:"btn btn-danger" %>
				<% end %>
			<% end %>
		</span>
	</div>
</div>
<div class="panel panel-personal">
	<div class = "panel-heading">
		<h3 class = "panel-title">Preguntas y respuestas</h3>
	</div>
	<ul class="list-group">
	<% if @product.questions.length == 0 %>
		<li class="list-group-item negrita">Aún nadie ha hecho una pregunta por este producto.</li>
	<% else %>	
		<% @product.questions.each do |question| %>
			<li class="list-group-item" style="border-top-width: 3px">
				<div><%= question.body %></div>
				<div class="small text-right italica negrita"><%= question.user.first_name %>, hace <%= time_ago_in_words(question.created_at)%></div>
				<div class="product-answer">
					<% if question.answer == nil %>
						<span class="negrita">Esta pregunta aún no fue respondida.</span>
					<% else %>
						<div><span class="negrita">Respuesta:</span> <%= question.answer.body %></div>
						<div class="small text-right italica negrita"><%= @owner.first_name %>, hace <%= time_ago_in_words(question.created_at)%></div>
					<% end %>
				</div>
			</li>
		<% end %>
	<% end %>
	</ul>
</div>