<% if @products.count > 0 %>
<h1 class="subtitulos">Historial de ventas y subastas</h1>
<div class="container">

	<% @products.each do |p| %>
	<div class="row row-venta panel">
		<div class="col-xs-2 col-img">
			<div class="center-helper"></div>
			<%= link_to image_tag_with_alt(p.imageURL, alt: p.title, class: "img-thumbnail imagenes img-sales"), p %>
		</div>

		<div class="col-xs-5 col-principal">
			<div class="row row-description">
				<div class="col-xs-12">
					<h3><%= link_to p.title, p %></h3>
					<p><%= p.description.truncate(150) %>
						<% if p.description.length > 150 %>
							<%= link_to "(ver más)", p %>
						<% end %>
					</p>
				</div>
			</div>
			<div class="row row-description-btn">
				<div class="col-xs-12">
					<%= link_to "Ver todos los detalles", p, class: "btn btn-primary" %>
				</div>
			</div>
		</div>

		<div class="col-xs-5 col-principal">
			<div class="row">
				<div class="col-xs-12"> <!-- Se utiliza la clase col-xs-12 debido a los paddings laterales -->
					<h4 class="text-ellipsis"><span class="destacado">Estado:</span> <%= p.timeout? ? (p.finished? ? "Finalizada" : "Debe seleccionar una oferta") : "Activa" %></h4>
				</div>
			</div>
			<div class="row row-info">
				<div class="col-xs-12">
					<div class="text-ellipsis"><b>Fecha de publicación: </b><%= localize p.created_at, format: :long %></div>
				</div>
			</div>
			<div class="row row-info">
				<div class="col-xs-12">
					<div class="text-ellipsis"><b>Categoría: </b><%= p.category.name %></div>
				</div>
			</div>
			<div class="row row-info">
				<div class="col-xs-12">
					<div><b>Ofertas: </b><%= p.bids.count %></div>
				</div>
			</div>
			<div class="row row-info">
				<div class="col-xs-4 text-ellipsis">
					<b>Preguntas: </b><%= p.questions.count %>
				</div>
				<div class="col-xs-8 text-ellipsis">
					<% sinResponder = p.not_answered_questions.count %>
					<% if sinResponder != 0 %>
					<b>Tienes <%= sinResponder %> pregunta<%= sinResponder > 1 ? "s" : "" %> sin responder</b>
					<% end %>
				</div>
			</div>
			<div class="row row-info-btn">
				<div class="col-xs-12">
					<%= link_to "Eliminar", p, data: { confirm: "¿Estás seguro?" }, :method => :delete , class: "btn btn-danger" %>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>

<% else %>
	<h1 class="subtitulos">No tienes ventas.</h1>
<% end %>