<!DOCTYPE html>
<html>
<head>
  <title>Bestnid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %> 

<div id="cuerpo">
	<%= render partial: "layouts/flash_messages", locals: {flash: flash} %>
	<%= yield %>
</div>

<footer>
	<center><span class="negrita">
		Desarrollado por  <a href="http://github.com/cloud-9-team/" style="color: red">Cloud 9</a>
	</span></center>
</footer>

</body>
</html>